{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Notes</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">List of Notes</div>
            <div class="card-category">All notes currently tracked</div>
          </div>
          <br />
          <div class="col-md-12 row">
            <div class="col-md-6">
              <form class="navbar-left navbar-form nav-search mr-md-3" action="" method="get">
                <div class="input-group">
                  <input type="text" name="q" placeholder="Search ..." class="form-control" value="{{ request.GET.q }}">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="la la-search search-icon"></i>
                    </span>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <div class="pull-right">
                <a href="{% url 'note-create' %}" class="btn btn-success btn-rounded">Add Note</a>
              </div>
            </div>
          </div>

          <div class="card-body">
            <table class="table table-striped mt-3">
              <thead>
                <tr>
                  <th scope="col">Task</th>
                  <th scope="col">Content</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for note in notes %}
                <tr>
                  <td>{{ note.task.title }}</td>
                  <td>{{ note.content|truncatechars:50 }}</td>
                  <td>{{ note.created_at|date:"M d, Y H:i" }}</td>
                  <td>
                    <a href="{% url 'note-update' note.id %}" class="btn btn-sm btn-info">Edit</a>
                    <a href="{% url 'note-delete' note.id %}" class="btn btn-sm btn-danger">Delete</a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="4" class="text-center text-muted">No notes found.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% include 'include/pagination.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
