{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">
      {% if object %}Update SubTask{% else %}Add New SubTask{% endif %}
    </h4>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form action="" method="post" novalidate>
              {% csrf_token %}
              {% include 'include/form.html' %}
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-rounded">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
