{% load widget_tweaks %}

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}

{% for field in form %}
<div class="field item form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <div class="form-group">
        {% if field|widget_type == "Select" %}
            {% render_field field class="form-control" %}
        {% else %}
            {% render_field field class="form-control" %}
        {% endif %}
    </div>

    {% for error in field.errors %}
    <div class="invalid-feedback d-block">
        {{ error }}
    </div>
    {% endfor %}

    {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
</div>
{% endfor %}
